MakeTrainsets/scripts
Evaluate/scripts
Model/scripts
MakeTrainsets/log
Evaluate/log
Model/log
__MACOSX
*__pycache__*
*DS_Store*
.idea/
test.py
*.png*
*.jpg*
Bdt/*.sh*
data/*.sh*
Evaluate/*.sh*
Model/ANA/*.sh*
*.suib*
*.pdf*
*.csv*
*.root*
*.sub*
CheckPoint/
ShowerTopology/*.sh*
*.npy*
*.pth*
